node {{ hostvars[groups['heartbeat_group'][0]]['ansible_hostname'] }} 
ucast eth0 {{ groups['heartbeat_group'][0] }}

node {{ hostvars[groups['heartbeat_group'][1]]['ansible_hostname'] }} 
ucast eth0 {{ groups['heartbeat_group'][1] }}

auto_failback on
